.columns{
    border: 2px solid grey;
    height: 500px;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

.option-container{
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: white;
    display: flex;
    gap: 5px;
}