.product-details-container {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 600px;
}

.product-details-left {
  flex: 1;
}

.product-details-image {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 10px;
  background-color: #fff;
  height: fit-content;
  width: 100%;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
}

.product-details-image img {
  height: 400px;
  width: auto;
  object-fit: contain;
}

.product-details-right {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 5px;
  flex: 2;
}

.product-details-avg-price-container {
  text-align: center;
  margin: 10px;
}

.product-details-avg-price-container > h1 {
  font-size: 50px;
  line-height: 45px;
}

.product-details-matches-container {
  flex: 1;
  padding: 10px;
  overflow: auto;
  scrollbar-gutter: stable;
  height: 500px;
}
