.columns {
  height: 675px;
  background-color: darkgray;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  /* overflow: hidden; */
  border: 2px solid red;
}

.column-title {
  padding: 5px;
}

.columns.Scripts {
  width: 75%;
}

.columns.Actions {
  width: 25%;
}
