* {
  font-family: "DM Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.header-tag.light-mode,
.p-tag.light-mode{
  color: #032638;
}


.header-tag.dark-mode,
.p-tag.dark-mode{
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

.link-button:disabled, .search-button:disabled {
  opacity: 0.8;
  cursor: not-allowed; 
}

.app-container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box; 
  display: flex; 
}

.app-container.light-mode{
  background-color: #fff;
}


.app-container.dark-mode{
  background-color: #2e2e2e;
}

.main-content {
  flex: 1;
  display: flex;
}

.inner-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  flex: 1;
}

.centered-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.line.dark-mode{
  color: #fff;
}


/*custom bootstrap css*/

.accordion-body {
  padding: 0;
}

.accordion.light-mode {
  --bs-accordion-btn-color: #032638;
  --bs-accordion-active-color: orange; /* Text color when accordion item is active */
  --bs-accordion-color: #032638; /* Text color for accordion content */
  --bs-accordion-btn-bg: #fff; /* Background color for accordion button */
  --bs-accordion-active-bg: #fff; /* Background color when accordion item is active */
  --bs-accordion-bg: #f8f9fa; /* Background color for accordion container */
  --bs-accordion-btn-focus-box-shadow: none; /* Box shadow for focused accordion button */
}

.accordion.dark-mode {
  --bs-accordion-btn-color: #fff;
  --bs-accordion-active-color: orange; /* Text color when accordion item is active */
  --bs-accordion-color: #fff; /* Text color for accordion content */
  --bs-accordion-btn-bg: #333; /* Background color for accordion button */
  --bs-accordion-active-bg: #444; /* Background color when accordion item is active */
  --bs-accordion-bg: #222; /* Background color for accordion container */
  --bs-accordion-btn-focus-box-shadow: none; /* Box shadow for focused accordion button */
}


.pagination.light-mode {
  --bs-pagination-active-bg: #032638; /* Background color for current page number */
  --bs-pagination-bg: #fff; /* Background color for every other page number */
  --bs-pagination-color: #032638; /* Text color for every other page number */
  --bs-pagination-active-border-color: #032638; /* Border color for active page number */
}

.pagination.dark-mode {
  --bs-pagination-active-bg: #0299ad; /* Background color for current page number */
  --bs-pagination-bg: #333; /* Background color for every other page number */
  --bs-pagination-color: #fff; /* Text color for every other page number */
  --bs-pagination-active-border-color: #0299ad; /* Border color for active page number */
} 
table, th, td {
  border: 1px solid lightgray;
}