.drag-drop-container {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.columns {
  border: 2px solid grey;
  height: 500px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  overflow-x: hidden;
}

.columns.Scripts {
  width: 50%;
}

.columns.Actions {
  width: 30%;
}

