.column-title {
  padding: 10px;
}

.action-list {
  padding: 8px;
  overflow-x: hidden; /* Hide horizontal overflow */
  background-color: transparent; /* Transparent background */
}

.action-list.Scripts{
  height: calc(100% - 55px); /* Adjust based on header height */
}

.action-list.Actions {
  display: flex; /* Flexbox for wrapping */
  flex-wrap: wrap; /* Allow wrapping */
  gap: 10px; /* Space between items */
  align-items: flex-start; /* Align items at the top */
}

.action-item {
  border: 1px solid lightgrey;
  border-radius: 12px; /* More rounded corners */
  padding: 8px; /* Adjust padding for tighter layout */
  margin: 4px; /* Reduced margin to tighten spacing */
  background-color: #f9f9f9; /* Softer background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  display: flex;
  gap: 4px; /* Adjusted gap between inner elements */
  align-items: center; /* Vertically center content */
  transition: box-shadow 0.3s ease; /* Smooth transition effect */
  height: fit-content; /* Keep the height to content */
}

.action-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Bigger shadow on hover */
  background-color: #f1f1f1; /* More contrast on hover */
}

