.menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  height: 100%;
}

.menu-item:last-child {
  margin-top: auto; /* Push the last item to the bottom */
}

.menu-item button {
  background-color: transparent; /* Set the background color to transparent */
  border: none;
  border-radius: 5px; /* Apply a slight border radius */
  padding: 10px; /* Adjust the padding as needed */
  color: #ffffff; /* Set the text color */
  cursor: pointer; /* Show a pointer cursor on hover to indicate interactivity */
}

.menu-item button:hover {
  background-color: #083d4f;/* Change background color on hover */
}