/* General Item List Styling */
.item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden; /* Hide horizontal overflow */
  background-color: transparent; /* Transparent background */
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.item-list.Actions {
  height: calc(100% - 55px);
}

.item-list.Scripts {
  height: calc(100% - 375px);
  /* border: 2px solid grey; */
  /* border-radius: 10px; */
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

/* Goto Container */
.goto-container {
  border: 2px solid #bebebe;
  border-radius: 12px;
  padding: 15px;
  margin: 4px;
  background-color: #fafafa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  height: 150px;
}

.goto-container > input {
  padding: 5px;
  border: 2px solid #bebebe;
  border-radius: 5px;
}

/* Draggable Items */
.draggable-items {
  border: 1px solid lightgrey;
  border-radius: 12px;
  padding: 15px;
  margin: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  transition: box-shadow 0.3s ease;
  height: fit-content;
}

.item-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #f1f1f1;
}

/* Script Items */
.script-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto; /* Push buttons to the right */
}
.script-items {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  border-left: 4px solid blue;
  margin: 15px 0px 15px 20px;
  box-sizing: border-box;
}

.script-sub-items {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-left: auto; */
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  padding: 10px;
}

/* Find and Delete Buttons */
.find-input {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 12px;
  width: 125px;
}

.find-btn,
.delete-btn {
  padding: 4px 8px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.delete-btn {
  background-color: #dc3545; /* Red color for delete button */
}

.find-btn:hover,
.delete-btn:hover {
  opacity: 0.9;
}

/* Subtext Styling */
.item-subtext {
  font-weight: 400;
}

/* Action Specific CSS */
.item-list.Actions > .locatorClick,
.item-step.locatorClick {
  font-weight: 600;
  color: #1e40af;
  background-color: #eff6ff;
  border: 2px solid #d5e7fc;
}

.item-step.locatorClick {
  text-align: center;
  padding: 5px;
  font-weight: 400;
  border-radius: 15px;
  margin-right: 10px;
}

.item-list.Actions > .coordinateClick,
.item-step.coordinateClick {
  font-weight: 600;
  color: #1e28af;
  background-color: #efefff;
  border: 2px solid #d5e7fc;
}

.item-step.coordinateClick {
  text-align: center;
  padding: 5px;
  font-weight: 400;
  border-radius: 15px;
  margin-right: 10px;
}

.item-list.Actions > .fill,
.item-step.fill {
  font-weight: 600;
  color: #9c27b0;
  background-color: #fbf5ff;
  border: 2px solid #e4d8f8;
}

.item-step.fill {
  text-align: center;
  padding: 5px;
  font-weight: 400;
  border-radius: 15px;
  margin-right: 10px;
}

.item-list.Actions > .delay,
.item-step.delay {
  font-weight: 600;
  color: #72ae2c;
  background-color: #f0fdf4;
  border: 2px solid #d6fcd5;
}

.item-step.delay {
  text-align: center;
  padding: 5px;
  font-weight: 400;
  border-radius: 15px;
  margin-right: 10px;
}

.item-list.Actions > .delay,
.item-step.delay {
  font-weight: 600;
  color: #ff9800;
  background-color: #fff6ed;
  border: 2px solid #f4d9bc;
}

.item-step.delay {
  text-align: center;
  padding: 5px;
  font-weight: 400;
  border-radius: 15px;
  margin-right: 10px;
}

/* General Item Step */
.item-step.general {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #007bff;
  border: 2px solid #a5c6e9;
  border-radius: 25px;
  margin-right: 10px;
  width: fit-content;
}
