.dashboard-container {
  /* position: relative; */
  /* padding: 20px;  */
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Add styling for SearchBar and other components */
