.dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inner-content{
  margin-top: 20px;
  /* border: 2px solid red; */
}

.centered-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Logo container styles */
.boxes-container {
  margin: 20px;
}

/* Logo image styles */
.boxes {
  width: 150px;
  height: auto;
  margin: auto;
}

#message{
  font-size: 1.5rem;
}