.dashboard-container {
  /* position: relative; */
  /* padding: 20px;  */
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-content{
  border: 2px solid green;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 15px; 
  box-sizing: border-box;
  flex: 1;
}

/* Add styling for SearchBar and other components */
