/* Sidebar container styles */
.side-bar {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Define rows with auto, 1fr, and auto heights */
  width: 80px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.side-bar.light-mode {
  background-color: #032638;
  color: #fff;
}

.side-bar.dark-mode {
  background-color: #171717;
  color: #fff;
}
.fa-house,
.fa-clock-rotate-left,
.fa-gear {
  color: #fff;
}

/* Logo container styles */
.logo-container {
  margin-bottom: 20px;
}

/* Logo image styles */
.logo {
  width: 75px;
  height: auto;
  margin: auto;
}

/* Menu items container styles */
.menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

/* Last menu item styles */
.menu-item:last-child {
  margin-top: auto; /* Push the last item to the bottom */
}

/* Menu item button styles */
.menu-item button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Hover effect on menu item button */
.menu-item.light-mode button:hover {
  background-color: #083d4f;
}

.active.light-mode button {
  background-color: #083d4f;
}

.menu-item.dark-mode button:hover {
  background-color: #555;
}

.active.dark-mode button {
  background-color: #555;
}
