/* General Styles */
* {
  font-family: "DM Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

table,
th,
td {
  border: 1px solid lightgray;
}

input.dark-mode {
  color: #ffffff;
  background-color: #292929;
}

input.dark-mode:focus {
  color: #ffffff;
  background-color: #292929;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

.header-tag,
.p-tag {
  color: #032638;
}

.header-tag.dark-mode,
.p-tag.dark-mode {
  color: #ffffff;
}

.link-button:disabled,
.search-button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.app-container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
}

.app-container.dark-mode {
  background-color: #212121;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  padding: 15px;
}

.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.line.dark-mode {
  color: #fff;
}

.horizontal-line {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border: none;
  height: 3px;
  color: #504f4f; /* old IE */
  background-color: #504f4f; /* Modern Browsers */
}

.button-group {
  display: flex;
  gap: 5px;
}

/*custom bootstrap css*/

.card {
  --bs-card-cap-padding-y: 0;
  --bs-card-border-color: inherit;
}

.card-header {
  padding: 0px;
  padding-bottom: 5px;
  background-color: #f3f3f3;
}

.card-header.dark-mode {
  color: #ffffff;
  background-color: #3a3a3a;
}

.card-body.dark-mode{
  color: #ffffff;
  background-color: #202020;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.accordion {
  --bs-accordion-border-color: #a3a3a3;
  --bs-accordion-btn-bg: #fafafa;
  --bs-accordion-btn-color: #032638;
  --bs-accordion-active-color: #085880;
  --bs-accordion-active-bg: #fafafa; /*accordion header background color*/
  --bs-accordion-btn-focus-box-shadow: 0px 5px 5px #6e6e6ecc;
  --bs-accordion-btn-icon: url(data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27none%27 stroke=%27%236E6E6ECC%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27><path d=%27M2 5L8 11L14 5%27/></svg>);
  --bs-accordion-btn-active-icon: url(data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27none%27 stroke=%27%236E6E6ECC%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27><path d=%27M2 5L8 11L14 5%27/></svg>);
}

.accordion.dark-mode {
  --bs-accordion-color: #ffffff;
  --bs-accordion-btn-bg: #1a1a1a;
  --bs-accordion-btn-color: #ffffff;
  --bs-accordion-active-color: #ececec;
  --bs-accordion-active-bg: #1a1a1a; /*accordion header background color*/
  --bs-accordion-btn-icon: url(data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27none%27 stroke=%27%23FFFFFF%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27><path d=%27M2 5L8 11L14 5%27/></svg>);
  --bs-accordion-btn-active-icon: url(data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27none%27 stroke=%27%23FFFFFF%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27><path d=%27M2 5L8 11L14 5%27/></svg>);
}

.accordion-button-icon {
  background-color: transparent;
  border: none;
  color: #000000;
}

.accordion-button-icon.dark-mode {
  color: #ffffff;
}

.accordion-body {
  padding: 0;
  color: #032638;
  background-color: #f8f8f8;
}

.accordion-body.dark-mode {
  padding: 0;
  color: #ffffff;
  background-color: #141414;
}

.pagination {
  --bs-pagination-active-bg: #0299ad;
  --bs-pagination-bg: #fff;
  --bs-pagination-color: #032638;
  --bs-pagination-active-border-color: #0299ad;
}

.pagination.dark-mode {
  --bs-pagination-active-bg: #0299ad;
  --bs-pagination-bg: #333;
  --bs-pagination-color: #fff;
  --bs-pagination-active-border-color: #0299ad;
}

/* Tooltip colors for both modes */
.tooltip {
  --bs-tooltip-color: #fff;
  --bs-tooltip-bg: #000;
}

.tooltip.dark-mode {
  --bs-tooltip-color: #fff;
  --bs-tooltip-bg: #0299ad;
}

.navbar-nav {
  --bs-navbar-active-color: #d6b751;
}

.nav-link {
  --bs-nav-link-color: #ffffff;
  --bs-nav-link-hover-color: #d6b751;
  --bs-nav-link-active-color: #d6b751;
  --bs-nav-link-font-weight: 500;
}

.nav-link.dark-mode {
  --bs-nav-link-color: #ffffff;
  --bs-nav-link-hover-color: #d6b751;
  --bs-nav-link-active-color: #d6b751;
  --bs-nav-link-font-weight: 500;
}

.dropdown.dark-mode > .dropdown-menu {
  --bs-dropdown-bg: #000000;
  --bs-border-color-translucent: #494949;
}

.dropdown-item {
  --bs-dropdown-link-color: #032638;
  --bs-dropdown-link-hover-color: #032638;
  --bs-dropdown-link-hover-bg: #e0e0e0;
  --bs-dropdown-link-active-color: #032638;
  --bs-dropdown-link-active-bg: #bebebe;
}

.dropdown-item.dark-mode {
  --bs-dropdown-link-color: #ffffff;
  --bs-dropdown-link-hover-color: #ffffff;
  --bs-dropdown-link-hover-bg: #2c2c2c;
  --bs-dropdown-link-active-color: #ffffff;
  --bs-dropdown-link-active-bg: #353535;
}


/* Modal Body (light and dark mode) */
/* Modal Body (light and dark mode) */
.modal-content {
  border-radius: 20px;
  border: 2px solid #808080;
  overflow: hidden;
}

.modal-content.dark-mode {
  color: #ffffff; /* White text for dark mode */
  background-color: #2c2c2c; /* Dark background for dark mode */
}
.modal-body {
  color: #032638; /* Default text color */
  border: none;
}

.modal-body.dark-mode {
  color: #ffffff; /* White text for dark mode */
  background-color: #2c2c2c; /* Dark background for dark mode */
}

/* Modal Title */
.modal-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: normal;
}
.modal-title.success {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.modal-loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust based on modal dimensions */
  text-align: center;
}

.modal-title.loading {
  margin-bottom: 1rem;
}

.spinner-border {
  margin-top: 1rem;
}

/* Highlight the testQuery */
.test-query {
  font-weight: bold;
  color: #007bff; /* Blue color to make the query stand out */
}

/* Center and style the average price */
.modal-avg-price-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modal-avg-price {
  font-size: 1rem;
  color: #555555;
}

.modal-avg-price.dark-mode {
  color: #ffffff;
}

.modal-price {
  font-weight: bold;
  font-size: 1.2rem;
  color: #28a745; /* Green color for the price */
}

/* Dark Mode Styling for Average Price Container */
.modal-avg-price-container.dark-mode {
  color: #ffffff; /* White text in dark mode */
}

.modal-price.dark-mode {
  color: #80e27e; /* Lighter green for dark mode */
}