/* General Styles */
* {
  font-family: "DM Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.header-tag.light-mode,
.p-tag.light-mode {
  color: #032638;
}

.header-tag.dark-mode,
.p-tag.dark-mode {
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

.link-button:disabled,
.search-button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.app-container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.app-container.light-mode {
  background-color: #f8f8f9;
}

.app-container.dark-mode {
  background-color: #2e2e2e;
}

.main-content {
  flex: 1;
  display: flex;
}

.inner-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  flex: 1;
}

.centered-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.line.dark-mode {
  color: #fff;
}

.horizontal-line {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border: none;
  height: 3px;
  color: #504f4f;  /* old IE */
  background-color: #504f4f;  /* Modern Browsers */
}

.button-group{
  display: flex;
  gap: 5px;
}

/*custom bootstrap css*/

.accordion-body {
  padding: 0;
}

.accordion.light-mode {
  --bs-accordion-btn-color: #032638;
  --bs-accordion-active-color: orange;
  --bs-accordion-color: #032638;
  --bs-accordion-btn-bg: #fff;
  --bs-accordion-active-bg: #fff;
  --bs-accordion-bg: #f8f9fa;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion.dark-mode {
  --bs-accordion-btn-color: #fff;
  --bs-accordion-active-color: orange;
  --bs-accordion-color: #fff;
  --bs-accordion-btn-bg: #333;
  --bs-accordion-active-bg: #444;
  --bs-accordion-bg: #222;
  --bs-accordion-btn-focus-box-shadow: none;
}

.pagination.light-mode {
  --bs-pagination-active-bg: #0299ad;
  --bs-pagination-bg: #fff;
  --bs-pagination-color: #032638;
  --bs-pagination-active-border-color: #0299ad;
}

.pagination.dark-mode {
  --bs-pagination-active-bg: #0299ad;
  --bs-pagination-bg: #333;
  --bs-pagination-color: #fff;
  --bs-pagination-active-border-color: #0299ad;
}

/* Tooltip colors for both modes */
.tooltip.light-mode {
  --bs-tooltip-color: #fff;
  --bs-tooltip-bg: #000;
}

.tooltip.dark-mode {
  --bs-tooltip-color: #fff;
  --bs-tooltip-bg: #0299ad;
}

table,
th,
td {
  border: 1px solid lightgray;
}
