.match-list-header {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Vertically center align children */
    justify-content: space-between; /* Space apart children */
  }
  
  .match-list-header p {
    margin: 0; /* Remove default margin for <p> */
  }
  
  .match-list-header i {
    margin-left: 10px; /* Adjust margin to space apart from <p> */
  }