.columns {
  height: fit-content;
  box-sizing: border-box;
  padding: 20px;
  border: 2px solid red;
}

.column-title {
  padding: 5px;
  color: #fff;
}

.columns.Scripts {
  width: 70%;
}

.columns.Actions {
  width: 25%;
}

.inner-container{
  padding: 10px;
  border: 2px solid grey;
  border-radius: 25px; 
  height: 600px;
  background-color: rgb(73, 73, 73);
}

.button-container {
  display: flex;
  justify-content: flex-end; 
  gap: 10px; 
  margin: 4px;
  margin-top: 15px; 
}