.settings-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.centered-div.settings {
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  padding: 20px;
}

.settings-header {
  margin-bottom: 10px;
}

.settings-header.dark-mode{
  color: #fff;
}

.settings-items {
  margin-bottom: 20px;
}

.settings-items.flex {
  display: flex;
  column-gap: 50px;
}

.radio-label {
  display: flex;
  column-gap: 10px;
}

.websites-table {
  height: 200px;
  overflow: auto;
}

#similarity-rating {
  width: 100%;
}

#save-button:disabled {
  background-color: transparent;
}

#version {
  color: grey;
  font-size: 15px;
  margin-left: auto;
  margin-top: auto;
}

.websites-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  scrollbar-gutter: stable;

}

.websites-table tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.websites-table thead tr {
  display: block;
}

.websites-table thead {
  background-color: #ffffff;
  color: #000000;
}

.websites-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.websites-table th,
.websites-table td {
  scrollbar-gutter: stable;
  padding: 5px;
  text-align: center;
  width: 385px;
}
