/* SearchBar.css */

.navbar {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: #032638;
  box-shadow: 0 0 5px #2c2c2ccc;
}

.navbar.dark-mode {
  background-color: #171717;
}

.search-bar {
  width: 400px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px 0 0 20px; /* Adjust the border-radius for the left corners */
}

.search-input.dark-mode {
  color: #fff;
  background-color: #2e2e2e;
}

.search-button {
  border: none;
  padding: 10px 15px;
  border-radius: 0 20px 20px 0; /* Adjust the border-radius for the right corners */
  cursor: pointer;
  color: #ffffff;
}

.fa-magnifying-glass {
  color: #212529;
}

.fa-magnifying-glass.dark-mode {
  color: #fff;
}

/* Additional styling for hover and focus effects */
.fa-magnifying-glass:hover {
  color: #6da4ff;
}

.search-input:focus {
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.8); /* Example focus effect, adjust as needed */
}

.nav-link.active{
  color: #d6d6d6;

}

.nav-links {
  --bs-navbar-active-color: #d6b751;
}

.nav-links.dark-mode > a {
  color: #032638;
}