.websites-table tbody {
  display: block;
  height: 210px;
  overflow: auto;
}

.websites-table thead,
.websites-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.websites-table thead {
  width: calc(100% - 5px);
}

.websites-table th,
.websites-table td {
  padding: 5px;
  text-align: center;
}

/*********** themes logic *********** */

.websites-table.light-mode {
  color: #032638;
}

.websites-table.dark-mode {
  color: #fff;
}

.websites-table.light-mode thead {
  background-color: #fff;
  color: #032638;
}

.websites-table.dark-mode thead {
  background-color: #2e2e2e;
  color: #fff;
}

.websites-table.light-mode tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.websites-table.dark-mode tbody tr:nth-child(odd) {
  background-color: grey;
}
